[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[user]
	name = Salman Oskooi
	email = soskooi@gmail.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	autocrlf = false
	safecrlf = true
[url "https://github.com/"]
	insteadOf = git://github.com/
