[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[user]
  name = Salman Oskooi
  email = 13968572+Salmonster@users.noreply.github.com
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[core]
  autocrlf = false
  safecrlf = true
  pager = less -FRX
[url "https://github.com/"]
  insteadOf = git://github.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pull]
  rebase = false
